body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    margin: 0;
}

nav {
    background-color: #68ad68;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left {
    padding-left: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 50px;
}

.links a {
    color: black;
    text-decoration: none;
}

.content {
    height: 100vh;
    width: 100%;
    background-color: rgb(83, 99, 141);
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.sidebar {
    width: 20%;
    min-width: 190px;
    margin: 30px;
    background-color: rgb(70, 109, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    height: 20%;
    width: 100%;
    background-color: rgb(94, 153, 102);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatar {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
}

.cards-container {
    padding-top: 20px;
    margin: 30px;
    height: 100%;
    width: 55%;
    min-width: 520px;
    background-color: #68ad68;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

}

.card {
    margin: 30px;
    width: 90%;
    height: 200px;
    background-color: rgb(218, 218, 218);
    margin: 10px;
    text-align: left;
    padding: 10px;
}

.items {
    text-align: center;
}

.card h3 {
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.news-container {
    background-color: beige;
    margin: 30px;
    height: 60vh;
    width: 20%;
    min-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.new {
    margin: 9px;
    background-color: rgb(84, 243, 131);
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.new h5 p {
    width: 20px;

}
